.wrong{
  transform-style: preserve-3d;
  animation: shake 0.2s; 
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  } 
  20%, 40%, 60%, 80% {
    transform: translateX(-2%);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(2%);
  }
}

.correct{
  display: inline-block;
  transform-style: preserve-3d;
  animation: jump 0.25s calc(var(--char-index) * 0.05s);
}

@keyframes jump {
  50% {
    transform: translateY(-50%);
  }
}

/* outline-style: solid;
outline-color: red;
outline-width: thin; */