.ontop{
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}

.anotherone{
  clip-path: inset(0 0 0 0);
  transition: clip-path 1s ease-in-out;
}

.toclip{
  clip-path: inset(0 100% 0 0);
}

.anothertwo{
  clip-path: inset(0 0 0 100%);
  transition: clip-path 1s ease-in-out;
}

.tonoclip{
  clip-path: inset(0 0 0 0);
}