@tailwind base;
@tailwind components;
@tailwind utilities;

/* colour pallet */
:root {
    --back: #222831;
    --lightback: #393E46;
    --sec1: #00ADB5;
    --sec2: #FF2E63;
    --sec3: #EEEEEE;
}

body {
    background-color: var(--back);
}